# Coding Etiquette & Excel Reporting

## Part 1

#### 1. Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers column.
#### 2. Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.
#### 3. The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.
- Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions).
- Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

#### 4. The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.
#### 5. The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
# Import dataset

df_final = pd.read_pickle(r'C:\Users\Owner\Desktop\Data Analyst\01-31-2022 Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_customer.pkl')

In [4]:
# Check memory usage

df_final.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 32 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int32
 3   orders_day_of_week      int32
 4   orders_time_of_day      int32
 5   days_since_prior_order  float32
 6   df_ords_first_order     bool
 7   product_id              int32
 8   add_to_cart_order       int32
 9   reordered               int32
 10  product_name            category
 11  aisle_id                int32
 12  department_id           int32
 13  prices                  float32
 14  price_range_loc         category
 15  busiest_days            category
 16  busiest_period_of_day   category
 17  max_order               int32
 18  loyalty_flag            category
 19  spending                float32
 20  spending_flag           category
 21  order_frequency         float32
 22  frequency_flag          category
 23  surname                 object
 24  gender                  object
 25  state                   object
 26  age                     int32
 27  date_joined             object
 28  dependants              int32
 29  marital_status          object
 30  income                  int32
 31  _merge                  category
dtypes: bool(1), category(8), float32(4), int32(14), object(5)
memory usage: 12.5 GB

### To avoid memory error, I will try to reduce the size of the dataset

In [6]:
# Change 'gender', 'marital_status' to category

df_final[['gender', 'marital_status']] = df_final[['gender', 'marital_status']].astype('category')

In [7]:
# Remove '_merge', 'reordered' and 'surname' column as they are not required for the analysis

df_final.drop(columns = ['_merge', 'reordered', 'surname'])

,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,df_ords_first_order,product_id,add_to_cart_order,product_name,...,spending_flag,order_frequency,frequency_flag,gender,state,age,date_joined,dependants,marital_status,income
0,2539329,1,1,2,8,NaN,True,196,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196,1,Soda,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,156685,106143,26,4,23,5.0,False,19675,1,Organic Raspberry Black Tea,...,High spender,7.0,Frequent customer,Male,Hawaii,25,5/26/2017,0,single,53755
32404855,484769,66343,1,6,11,NaN,True,47210,1,Fresh Farmed Tilapia Fillet,...,Low spender,30.0,Non-frequent customer,Female,Tennessee,22,9/12/2017,3,married,46151
32404856,1561557,66343,2,1,11,30.0,False,47210,1,Fresh Farmed Tilapia Fillet,...,Low spender,30.0,Non-frequent customer,Female,Tennessee,22,9/12/2017,3,married,46151
32404857,276317,66343,3,6,15,19.0,False,47210,1,Fresh Farmed Tilapia Fillet,...,Low spender,30.0,Non-frequent customer,Female,Tennessee,22,9/12/2017,3,married,46151
32404858,2922475,66343,4,1,12,30.0,False,47210,1,Fresh Farmed Tilapia Fillet,...,Low spender,30.0,Non-frequent customer,Female,Tennessee,22,9/12/2017,3,married,46151

In [8]:
df_final = df_final.drop(columns = ['_merge', 'reordered', 'surname'])

In [10]:
# Change data type for 'age' and 'dependants' columns to int8

df_final = df_final.astype({"age": 'int8', "dependants": 'int8'})

In [12]:
df_final = df_final.astype({"order_number" : 'int8', "orders_day_of_week" : 'int8', "orders_time_of_day" : 'int8', "max_order" : 'int8', "days_since_prior_order" : 'float16', "add_to_cart_order" : 'int16', "prices" : 'float16'})

In [24]:
df_final = df_final.astype({"aisle_id" : 'int16', "department_id" : 'int16'})

In [26]:
df_final[['state']] = df_final[['state']].astype('category')

In [27]:
df_final.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   orders_time_of_day      int8
 5   days_since_prior_order  float16
 6   df_ords_first_order     bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  prices                  float16
 13  price_range_loc         category
 14  busiest_days            category
 15  busiest_period_of_day   category
 16  max_order               int8
 17  loyalty_flag            category
 18  spending                float32
 19  spending_flag           category
 20  order_frequency         float32
 21  frequency_flag          category
 22  gender                  category
 23  state                   category
 24  age                     int8
 25  date_joined             object
 26  dependants              int8
 27  marital_status          category
 28  income                  int32
dtypes: bool(1), category(10), float16(2), float32(2), int16(3), int32(4), int8(6), object(1)
memory usage: 3.9 GB

### By executing the commands above, I have reduced the memory usage from 12.5 GB to 3.9 GB

## Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

#### The columns (first_name, surname) that contained PII data has been removed from the dataset.

## The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

In [31]:
# Print frequency for 'state' column

df_final['state'].value_counts(dropna = False)

Pennsylvania            667082
California              659783
Rhode Island            656913
Georgia                 656389
New Mexico              654494
Arizona                 653964
North Carolina          651900
Oklahoma                651739
Alaska                  648495
Minnesota               647825
Massachusetts           646358
Wyoming                 644255
Virginia                641421
Missouri                640732
Texas                   640394
Colorado                639280
Maine                   638583
North Dakota            638491
Alabama                 638003
Kansas                  637538
Louisiana               637482
Delaware                637024
South Carolina          636754
Oregon                  636425
Arkansas                636144
Nevada                  636139
New York                635983
Montana                 635265
South Dakota            633772
Illinois                633024
Hawaii                  632901
Washington              632852
Mississippi             632675
Kentucky                632490
Michigan                630928
Florida                 629027
Ohio                    628319
Wisconsin               628108
New Jersey              627692
Indiana                 627282
Maryland                626579
Nebraska                625813
Iowa                    625493
Connecticut             623022
Tennessee               617873
New Hampshire           615378
District of Columbia    613695
West Virginia           612296
Utah                    611941
Vermont                 611725
Idaho                   607119
Name: state, dtype: int64

### Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions).

In [32]:
# Create a flag for Northeast region

df_final.loc[df_final['state'].isin(['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']), 'region'] = 'Northeast'

In [34]:
# Create a flag for Midwest region

df_final.loc[df_final['state'].isin(['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']), 'region'] = 'Midwest'

In [35]:
# Create a flag for South region 

df_final.loc[df_final['state'].isin(['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']), 'region'] = 'South'

In [36]:
# Create a flag for West region 

df_final.loc[df_final['state'].isin(['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']), 'region'] = 'West'

In [37]:
# Print frequency

df_final['region'].value_counts(dropna = False)

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: region, dtype: int64

In [38]:
df_final.shape

(32404859, 30)

In [39]:
# Verify if all states are properly labeled by checking value counts

10791885+8292913+7597325+5722736

32404859

### Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

In [40]:
# Create a crosstab

crosstab = pd.crosstab(df_final['region'],df_final['spending_flag'],dropna = False)

In [41]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

In [42]:
# Percent of high spenders for Midwest vs their total population 

155975+7441350

7597325

In [43]:
Midwest = (155975/7597325)*100

In [44]:
# Percent of high spenders for Northeast vs their total population 

108225+7597325

7705550

In [45]:
Northeast = (108225/7705550)*100

In [46]:
# Percent of high spenders for South vs their total population 

209691+10582194

10791885

In [47]:
South = (209691/10791885)*100

In [48]:
# Percent of high spenders for West vs their total population 

160354+8132559

8292913

In [49]:
West = (160354/8292913)*100

In [50]:
Midwest

2.053025242437305

In [51]:
Northeast

1.4045071409568428

In [52]:
South

1.9430433144904713

In [53]:
West

1.9336269414619447

#### There isn't much difference in the spending habits between all the four regions. However, Northeast region has the lowest spending percentage amongst all.

## The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [54]:
# Create low-activity flag for customers with less than 5 orders

df_final.loc[df_final['max_order'] < 5, 'exclusion_flag'] = 'low activity customer'

In [55]:
# Create high-activity flag for customers with more than 5 orders

df_final.loc[df_final['max_order'] >= 5, 'exclusion_flag'] = 'high activity customer'

In [56]:
# Print frequency

df_final['exclusion_flag'].value_counts(dropna = False)

high activity customer    30964564
low activity customer      1440295
Name: exclusion_flag, dtype: int64

In [58]:
df_final[['region', 'exclusion_flag']].dtypes

region            object
exclusion_flag    object
dtype: object

In [60]:
# Change datatype to category

df_final[['region', 'exclusion_flag']] = df_final[['region', 'exclusion_flag']].astype('category')

In [61]:
# Create new dataframe that only shows low-activity customers

low_df = df_final[df_final['exclusion_flag'] == 'low activity customer']

In [62]:
low_df['max_order'].min()

1

In [63]:
low_df['max_order'].max()

4

In [64]:
# Create new dataframe that excludes low activity customers

df_new = df_final[df_final['exclusion_flag'] == 'high activity customer']

In [67]:
df_new.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,df_ords_first_order,product_id,add_to_cart_order,product_name,...,frequency_flag,gender,state,age,date_joined,dependants,marital_status,income,region,exclusion_flag
0,2539329,1,1,2,8,NaN,True,196,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
1,2398795,1,2,3,7,15.0,False,196,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
2,473747,1,3,3,12,21.0,False,196,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
3,2254736,1,4,4,7,29.0,False,196,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
4,431534,1,5,4,15,28.0,False,196,1,Soda,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer

## Export Dataset

In [68]:
path = r'C:\Users\Owner\Desktop\Data Analyst\01-31-2022 Instacart Basket Analysis'

In [69]:
df_new.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_new.pkl'))

## The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

## Create variables based on age, income, number of dependants / customer profile

### Age bracket

In [70]:
# Check age range (min and max)

df_final['age'].min()

18

In [71]:
df_final['age'].max()

81

In [72]:
# Create age bracket

age_group = []

for value in df_final['age']:
    if value <= 20:
        age_group.append('15-20')
    elif (value > 20) and (value <= 30):
        age_group.append('21-30')
    elif (value > 30) and (value <= 40):
        age_group.append('31-40')
    elif (value > 40) and (value <= 50):
        age_group.append('41-50')
    elif (value > 50) and (value <= 60):
        age_group.append('51-60')
    elif (value > 60) and (value <= 70):
        age_group.append('61-70')
    elif (value > 70) and (value <= 80):
        age_group.append('71-80')
    elif (value > 80) and (value <= 82):
        age_group.append('80+')    
    else:
        result.append('no match found')

In [73]:
# Create age_group column

df_final['age_group'] = age_group

In [75]:
# Print frequency

df_final['age_group'].value_counts().sort_index()

15-20    1522928
21-30    5076431
31-40    5070687
41-50    5092179
51-60    5059795
61-70    5004669
71-80    5068886
80+       509284
Name: age_group, dtype: int64

### Income bracket

In [76]:
# Check income range (min and max)

df_final['income'].min()

25903

In [77]:
df_final['income'].max()

593901

In [78]:
# Create income bracket 

income = []

for value in df_final['income']:
    if value <= 50000: 
        income.append('20000 - 50000')
    elif (value > 50000) and (value <= 100000):
        income.append('50000 - 100000')
    elif (value > 100000) and (value <= 200000):
        income.append('100000 - 200000')
    elif (value > 200000) and (value <= 300000):
        income.append('200000 - 300000')
    elif (value > 300000) and (value <= 400000):
        income.append('120000 - 160000')
    elif (value > 400000) and (value <= 500000):
        income.append('400000 - 500000')
    elif (value > 500000) and (value <= 600000):
        income.append('500000 - 600000')
    else: 
        result.append('no match found')

In [79]:
# Create income_group column

df_final['income_group'] = income

In [80]:
# Print frequency

df_final['income_group'].value_counts().sort_index()

100000 - 200000    14555759
120000 - 160000       53931
20000 - 50000       3594083
200000 - 300000      156820
400000 - 500000       28337
50000 - 100000     13996574
500000 - 600000       19355
Name: income_group, dtype: int64

### Number of dependants

In [81]:
df_final['dependants'].value_counts().sort_index()

0    8097503
1    8081104
2    8091143
3    8135109
Name: dependants, dtype: int64

In [82]:
# Create parent bracket

df_final.loc[(df_final['dependants'] >= 1), 'parental_status'] = 'Parent'

In [83]:
df_final.loc[(df_final['dependants'] == 0), 'parental_status'] = 'Non-parent'

In [85]:
# Print parental_status frequency

df_final['parental_status'].value_counts(dropna = False)

Parent        24307356
Non-parent     8097503
Name: parental_status, dtype: int64

In [87]:
df_final[['age_group', 'income_group', 'parental_status']].dtypes

age_group          object
income_group       object
parental_status    object
dtype: object

In [88]:
df_final[['age_group', 'income_group', 'parental_status']] = df_final[['age_group', 'income_group', 'parental_status']].astype('category')

In [89]:
df_final.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   orders_time_of_day      int8
 5   days_since_prior_order  float16
 6   df_ords_first_order     bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  prices                  float16
 13  price_range_loc         category
 14  busiest_days            category
 15  busiest_period_of_day   category
 16  max_order               int8
 17  loyalty_flag            category
 18  spending                float32
 19  spending_flag           category
 20  order_frequency         float32
 21  frequency_flag          category
 22  gender                  category
 23  state                   category
 24  age                     int8
 25  date_joined             object
 26  dependants              int8
 27  marital_status          category
 28  income                  int32
 29  region                  category
 30  exclusion_flag          category
 31  age_group               category
 32  income_group            category
 33  parental_status         category
dtypes: bool(1), category(15), float16(2), float32(2), int16(3), int32(4), int8(6), object(1)
memory usage: 4.0 GB

### Orders day of the week

In [90]:
df_final['orders_day_of_week'].value_counts().sort_index()

0    6204182
1    5660230
2    4213830
3    3840534
4    3783802
5    4205791
6    4496490
Name: orders_day_of_week, dtype: int64

In [98]:
df_final.loc[df_final['orders_day_of_week'] == 0, 'day_of_week'] = 'Saturday'

In [99]:
df_final.loc[df_final['orders_day_of_week'] == 1, 'day_of_week'] = 'Sunday'

In [100]:
df_final.loc[df_final['orders_day_of_week'] == 2, 'day_of_week'] = 'Monday'

In [101]:
df_final.loc[df_final['orders_day_of_week'] == 3, 'day_of_week'] = 'Tuesday'

In [102]:
df_final.loc[df_final['orders_day_of_week'] == 4, 'day_of_week'] = 'Wednesday'

In [103]:
df_final.loc[df_final['orders_day_of_week'] == 5, 'day_of_week'] = 'Thursday'

In [104]:
df_final.loc[df_final['orders_day_of_week'] == 6, 'day_of_week'] = 'Friday'

In [126]:
# Print frequency

df_final['day_of_week'].value_counts().sort_index()

Friday       4496490
Monday       4213830
Saturday     6204182
Sunday       5660230
Thursday     4205791
Tuesday      3840534
Wednesday    3783802
Name: day_of_week, dtype: int64

### Order time of day

In [109]:
df_final['orders_time_of_day'].value_counts().sort_index()

0      218769
1      115700
2       69375
3       51281
4       53242
5       87961
6      290493
7      891054
8     1718118
9     2454203
10    2761760
11    2736140
12    2618532
13    2660954
14    2689136
15    2662144
16    2535202
17    2087654
18    1636502
19    1258305
20     976156
21     795637
22     634225
23     402316
Name: orders_time_of_day, dtype: int64

In [120]:
# Split 24 hours

result = []

for value in df_final['orders_time_of_day']:
    if   (value <= 5):
        result.append('Night')
    elif (value > 5) and (value <= 12): 
        result.append('Morning')
    elif (value > 12) and (value <= 17):
        result.append('Afternoon')
    elif (value > 17) and (value <= 21):
        result.append('Evening')
    elif (value > 21):
        result.append('Night')   
    else: 
        result.append('other')

In [121]:
result

['Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Night',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Night',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Night',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Night',
 'Night',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Evening',
 'Morning',
 'Afternoon',
 'Evening',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Evening',
 'Morning',
 'Evening',
 'Evening',
 'Morning',
 'Morning',
 'Evening',
 'Evening',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Evening',
 'Evening',
 'Afternoon',
 'Evening',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Evening',
 'Evening',
 'Morning',
 'Evening',
 'Evening',
 'Afternoon',
 'Afternoon',
 'Evening',
 'Evening',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Evening',
 'Evening',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Evening',
 'Afternoon',
 'Evening',
 'Evening',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Evening',
 'Evening',
 'Evening',
 'Evening',
 'Evening',
 'Afternoon',
 'Evening',
 'Evening',
 'Evening',
 'Evening',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Afternoon',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Afternoon',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 'Morning',
 ...]

In [122]:
# Create day column

df_final['part_of_day'] = result

In [124]:
# Print frequency

df_final['part_of_day'].value_counts()

Morning      13470300
Afternoon    12635090
Evening       4666600
Night         1632869
Name: part_of_day, dtype: int64

In [125]:
df_final.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 37 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   orders_time_of_day      int8
 5   days_since_prior_order  float16
 6   df_ords_first_order     bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  prices                  float16
 13  price_range_loc         category
 14  busiest_days            category
 15  busiest_period_of_day   category
 16  max_order               int8
 17  loyalty_flag            category
 18  spending                float32
 19  spending_flag           category
 20  order_frequency         float32
 21  frequency_flag          category
 22  gender                  category
 23  state                   category
 24  age                     int8
 25  date_joined             object
 26  dependants              int8
 27  marital_status          category
 28  income                  int32
 29  region                  category
 30  exclusion_flag          category
 31  age_group               category
 32  income_group            category
 33  parental_status         category
 34  weekday                 object
 35  day_of_week             object
 36  part_of_day             object
dtypes: bool(1), category(15), float16(2), float32(2), int16(3), int32(4), int8(6), object(4)
memory usage: 9.8 GB

In [127]:
# Drop 'weekday' column as it was created by mistake

#Convert data type for 'day_of_week' and 'part_of_day' columns to category

df_final[['day_of_week', 'part_of_day',]] = df_final[['day_of_week', 'part_of_day']].astype('category')

In [128]:
df_final = df_final.drop(columns = ['weekday'])

In [129]:
df_final.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 36 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   orders_time_of_day      int8
 5   days_since_prior_order  float16
 6   df_ords_first_order     bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  prices                  float16
 13  price_range_loc         category
 14  busiest_days            category
 15  busiest_period_of_day   category
 16  max_order               int8
 17  loyalty_flag            category
 18  spending                float32
 19  spending_flag           category
 20  order_frequency         float32
 21  frequency_flag          category
 22  gender                  category
 23  state                   category
 24  age                     int8
 25  date_joined             object
 26  dependants              int8
 27  marital_status          category
 28  income                  int32
 29  region                  category
 30  exclusion_flag          category
 31  age_group               category
 32  income_group            category
 33  parental_status         category
 34  day_of_week             category
 35  part_of_day             category
dtypes: bool(1), category(17), float16(2), float32(2), int16(3), int32(4), int8(6), object(1)
memory usage: 4.1 GB

### I will export this file and complete the remaining task on the next script

In [130]:
df_final.to_pickle(os.path.join(path,'02 Data','Prepared Data','df_final.pkl'))